<script type="text/x-handlebars">
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="index">
  <ul>
    {{#each controller}}
      <li>{{text}}</li>
    {{/each}}
  </ul>
</script>
